.groupChild {
  text-decoration: none;
  position: absolute;
  top: 0;
  left: 0;
  background-color: var(--color-plum);
  width: 1512px;
  height: 134px;
}

.aboutUs,
.home,
.signIn,
.whyUs {
  cursor: pointer;
  text-decoration: none;
  position: absolute;
  top: 49px;
  left: 490px;
  font-weight: 700;
  color: inherit;
}

.aboutUs,
.signIn,
.whyUs {
  top: 48px;
  left: 594px;
}

.signIn,
.whyUs {
  top: 49px;
  left: 731px;
}

.signIn {
  left: 864px;
}

.groupItem {
  position: absolute;
  top: 13px;
  left: 20px;
  border-radius: 50%;
  width: 112px;
  height: 108px;
  object-fit: cover;
}

.rectangleParent {
  position: absolute;
  top: 0;
  left: 0;
  width: 1512px;
  height: 134px;
  text-align: left;
  font-size: var(--font-size-xl);
  color: var(--color-black);
}

.studentPageChild {
  cursor: pointer;
  border: 0;
  padding: 0;
  background-color: var(--color-plum);
  position: absolute;
  top: 807px;
  left: 48px;
  border-radius: var(--br-11xl);
  width: 521px;
  height: 99px;
}

.generateArtwork,
.studentPageItem {
  position: absolute;
  top: 835px;
  left: 113px;
}

.studentPageItem {
  cursor: pointer;
  border: 0;
  padding: 0;
  background-color: var(--color-plum);
  top: 679px;
  left: 48px;
  border-radius: var(--br-11xl);
  width: 521px;
  height: 99px;
}

.solveQuiz {
  position: absolute;
  top: 705px;
  left: 183px;
}

.studentPageInner {
  cursor: pointer;
  border: 0;
  padding: 0;
  background-color: var(--color-plum);
  position: absolute;
  top: 551px;
  left: 48px;
  border-radius: var(--br-11xl);
  width: 521px;
  height: 99px;
}

.rectangleButton,
.visitGallery {
  position: absolute;
  top: 577px;
  left: 189px;
}

.rectangleButton {
  cursor: pointer;
  border: 0;
  padding: 0;
  background-color: var(--color-plum);
  top: 414px;
  left: 48px;
  border-radius: var(--br-11xl);
  width: 521px;
  height: 106px;
}

.attendLecture {
  position: absolute;
  top: 443px;
  left: 143px;
}

.studentPageChild1 {
  cursor: pointer;
  border: 0;
  padding: 0;
  background-color: var(--color-plum);
  position: absolute;
  top: 286px;
  left: 48px;
  border-radius: var(--br-11xl);
  width: 521px;
  height: 100px;
}

.customizeAvatar {
  position: absolute;
  top: 312px;
  left: 113px;
}

.helloStudentName {
  position: absolute;
  top: 176px;
  left: 48px;
  font-size: var(--font-size-31xl);
  font-family: var(--font-playfair-display);
  color: var(--color-lightgray-200);
  text-align: left;
  display: inline-block;
  width: 1366px;
  height: 68px;
}

.studentPage {
  position: relative;
  background-color: var(--color-gray);
  width: 100%;
  height: 982px;
  overflow: hidden;
  text-align: center;
  font-size: var(--font-size-21xl);
  color: var(--color-gray);
  font-family: var(--font-inter);
}
